@import './base.css';

#app {
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color:#0088FF;
  transition: 0.4s;
  padding: 3px;
  background-color: hsla(216, 100%, 37%, 0.07);
  border-radius: 6px;
  height: 28px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(216, 100%, 37%, 0.2);
    border-radius: 6px;
  }
}

